.contacts {
  background-color: $colorAccent;
  margin: 0 auto;
  padding: 40px 0;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include onTablet {
      flex-direction: column;
    }
  }

  &__contact {
    display: flex;
    align-items: center;
  }

  &__divider {
    width: 1px;
    height: 52px;
    background-color: $colorLightGrey;

    @include onTablet {
      width: 60%;
      height: 1px;
      margin: 15px auto;
    }
  }

  &__icon {
    color: $colorBlue;
    width: 32px;
    height: 32px;
    margin-right: 14px;
  }

  &__text-body {
    @include onTablet {
      max-width: 115px;
    }
  }

  &__title {
    @extend %h3;
    line-height: 30px;
  }

  &__paragraph {
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    color: $colorDark;
  }
}
